<html lang="en" ng-app="Front">
<head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.7.1/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/mdKeyboard.css">
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width">
</head>
<body  layout="column"  ng-controller="FrontCtrl" flex>



<!--<md-button class="md-primary md-raised" ng-click="reset();">-->
    <!--Reset-->
<!--</md-button>-->
<div style="background-color:#000000;margin-top: -40px" id="myView" layout="row" >
    <div layout-padding layout-margin flex>
        <md-toolbar style="background-color: limegreen; height: 55px;" id="waiting" layout-align="center center" >
            <h3>Orders Ready</h3>
        </md-toolbar>
        <div style="border:#ffffff;background:#000000; border-style: dotted;height: 80vh"  layout="row" layout-sm="column" flex>
            <md-content style="border:#000000;background:#000000" flex>
                <md-list flex>
                    <md-item  ng-repeat="item in waiting" flex>
                        <md-item-content style="height: 30px;" >
                            <!--<div class="md-tile-left">-->
                            <!--<img ng-src="{{item.face}}" class="face" alt="{{item.who}}">-->
                            <!--</div>-->


                            <div class="md-tile-content">
                                <!--<h2 style="color: #ffffff">{{item.order}}</h2>-->
                                <p style="color: #ffffff;text-align: center;font-size: x-large;font-weight: bold;" class="ng-binding">{{item.order}}</p>
                            </div>
                            <!--<md-button ng-click="clicked(item);">-->
                            <!--<i class="material-icons">&#xE876;</i>-->
                            <!--</md-button>-->
                            <md-button ng-click="delete(item);">
                                <i style="background-color: #ffffff" class="material-icons">&#xE5CD;</i>
                            </md-button>
                          
                            <!--<md-button ng-click="clicked(item);">-->
                                <!--<i class="material-icons">&#xE876;</i>-->
                            <!--</md-button>-->

                        </md-item-content>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-item>
                </md-list>
            </md-content>
        </div>
    </div>
    <!--<div  layout-padding layout-margin style="width: 300vw;" flex>-->
        <!--<md-toolbar id="ready" style="background-color: limegreen; " layout-align="center center">-->
            <!--<h1>Ready</h1>-->
        <!--</md-toolbar>-->
        <!--<div style="border:#000000; border-style: dotted;height: 80vh" layout="row" layout-sm="column" flex>-->
            <!--<md-content flex>-->
                <!--<md-list flex>-->
                    <!--<md-item ng-repeat="item in ready track by $index" flex>-->
                        <!--<md-item-content>-->
                            <!--<div  class="md-tile-content">-->
                                <!--<h3>{{item.order}}</h3>-->
                            <!--</div>-->

                        <!--</md-item-content>-->
                        <!--<md-divider ng-if="!$last"></md-divider>-->
                    <!--</md-item>-->
                <!--</md-list>-->
            <!--</md-content>-->
        <!--</div>-->
    <!--</div>-->

</div>


<!-- Angular Material Dependencies -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.7/angular-material.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script src="/mdKeyboard.js"></script>
<script src="node_modules/underscore/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>

<script src="node_modules/angular-momentjs/angular-momentjs.min.js"></script>

<script src="app.js"></script>
<script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
<script>
    var orders = new Firebase('https://paradise-a2802.firebaseio.com/ready');

    function saveToList(event) {
        orders.push(event[0]);
    }

    orders.on('value',function(dataSnapShot){
        var orders=dataSnapShot.child("/").val();
        var form= angular.element(document.querySelectorAll("#myView"));
        form.scope().updateWaiting(orders);
    });
//    $(window).on('load', function(){
//
//        orders.on('value',function(dataSnapShot){
//            var orders=dataSnapShot.child("/").val();
//            var form= angular.element(document.querySelectorAll("#myView"));
//            form.scope().updateAll(orders);
//        });
//
//        // your logic here`enter code here`
//    });
    setInterval(function(){
        var focusbox;
        focusbox = document.getElementById("enterNumber");
        focusbox.focus();
    });
    $('#input_1').on("keypress", function(e) {
        if (e.keyCode == 13) {
            $('#enterNumber').val("");
            var form= angular.element(document.querySelectorAll("#myView"));
            form.scope().pushOrder();
        }
    });
</script>
</body>
</html>