/*md-toolbar  {*/
    /*font-size: 1.250em;*/
    /*font-weight: 400;*/
    /*margin: auto;*/
    /*overflow: auto;*/
    /*background-color: red;*/
/*}*/

/*.face {*/
    /*border-radius: 30px;*/
    /*border: 1px solid #ddd;*/
    /*width: 48px;*/
    /*height:48px;*/
    /*margin: 16px;*/
/*}*/

/*.list-container {*/
    /*margin:0 auto;*/
    /*width:50%;*/
/*}*/
/*.selected {*/
    /*color: white;*/
    /*-webkit-box-shadow:inset 0px 0px 0px 25px #b0b0b0;*/
    /*-moz-box-shadow:inset 0px 0px 0px 25px #b0b0b0;*/
    /*box-shadow:inset 0px 0px 0px 25px #b0b0b0;*/
/*}*/

/*#waiting .md-toolbar {*/
   /*background-color: rgb(63,81,0);*/
/*}*/

.md-tile-content h3{
    text-align: center;
}